entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["lsof"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 44002617
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[agent]
expertMode = true
